<div class="jumbotron" style="background-color:cornflowerblue;">
    <h1 class="text-center">FAKEBOOK</h1>
</div>

<br />

<h2 class="text-center">@Html.ActionLink("Check out some of our new members!", "Index", "Members", new { area = "" }, null)</h2>

<br />

    <div class="row">
        <div class="col-md-4 table-bordered">
            <h2>Random Profile goes here</h2>
        </div>
        <div class="col-md-4 table-bordered">
            <h2>Random Profile goes here</h2>
        </div>
        <div class="col-md-4 table-bordered">
            <h2>Another one goes here</h2>
        </div>

        <br />
        <div class="col-md-4 table-bordered">
            <h2>Maybe trailing down the page?</h2>
        </div>

    </div>
